 
/****** Object:  Table [dbo].[BarcodeTemplates]    Script Date: 7/3/2020 4:33:37 AM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[BarcodeTemplates](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Template] [varbinary](max) NOT NULL,
	[IsDefault] [bit] NOT NULL,
 CONSTRAINT [PK_BarcodeTemplates] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

SET IDENTITY_INSERT [dbo].[BarcodeTemplates] ON 







SET IDENTITY_INSERT [dbo].[BarcodeTemplates] OFF

