 Alter table [dbo].[tblSupplyMain]
ADD 	CarType [nvarchar](100) NULL;

 Alter table [dbo].[tblSupplyMain]
 ADD 	PlateNumber [nvarchar](100)NULL;

 Alter table [dbo].[tblSupplyMain]
ADD 	CounterNumber [nvarchar](100)NULL;
  